# Python
__pycache__/
*.pyc
venv/
.env
config.env

# Conda environments
infobip/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# AWS
*.pem
*.key

# Terraform
*.tfvars
*.tfvars.json
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log

# Data files
data/

# Logs
*.log

# PDFs
*.pdf

# Jupyter
.ipynb_checkpoints